USER_SERVICE_URL=http://127.0.0.1:8001
EXPENSE_SERVICE_URL=http://127.0.0.1:8002
CATEGORY_SERVICE_URL=http://127.0.0.1:8003
BUDGET_SERVICE_URL=http://127.0.0.1:8004
REPORT_SERVICE_URL=http://127.0.0.1:8005
NOTIFICATION_SERVICE_URL=http://127.0.0.1:8006
GATEWAY_TIMEOUT_SECONDS=10